@import "tailwindcss";

@theme {
  --font-sans: 'IBM Plex Sans Arabic', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-emerald-50 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-emerald-200 rounded-full hover:bg-emerald-300 transition-colors;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
